/*
* @Author: inferjay
* @Date:   2015-10-10 02:34:36
* @Last Modified by:   inferjay
* @Last Modified time: 2015-10-10 02:35:38
*/
blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0 1.75em 0;
    padding: 0 0 0 1.1em;
    border-left: #4A4A4A 0.4em solid;
}

blockquote p {
    display: inherit;
    margin: 0.8em 0;
    font-style: italic;
    font-size: 0.85em;
}